# to create a dataframe from a dictionary and display it

In [1]:
# 216270307006
# odedra manshvi
import pandas as pd

dicti = {
    'Name' : ['Mnaa', 'Jiya', 'Kinal', 'Rmaa'],
    'Age' : [20, 17, 18, 19],
    'City' : ['Bhavnagar', 'Porbandar', 'Rajkot', 'Vadodra'],
}
print("Dictionary :\n",dicti)

df = pd.DataFrame(dicti)
print("\nDataFrame :\n",df)

Dictionary :
 {'Name': ['Mnaa', 'Jiya', 'Kinal', 'Rmaa'], 'Age': [20, 17, 18, 19], 'City': ['Bhavnagar', 'Porbandar', 'Rajkot', 'Vadodra']}

DataFrame :
     Name  Age       City
0   Mnaa   20  Bhavnagar
1   Jiya   17  Porbandar
2  Kinal   18     Rajkot
3   Rmaa   19    Vadodra

# to sort the DataFrame first by 'name' in ascending order

In [2]:
# 216270307006
# odedra manshvi
import pandas as pd

df = pd.DataFrame(dicti)

print("Before sorting:\n", df)

print("\nAfter sorting:\n", df.sort_values(by='Name',ascending=True))

Before sorting:
     Name  Age       City
0   Mnaa   20  Bhavnagar
1   Jiya   17  Porbandar
2  Kinal   18     Rajkot
3   Rmaa   19    Vadodra

After sorting:
     Name  Age       City
1   Jiya   17  Porbandar
2  Kinal   18     Rajkot
0   Mnaa   20  Bhavnagar
3   Rmaa   19    Vadodra

#  to delete the one specific column from the DataFrame

In [3]:
# 216270307006
# odedra manshvi
import pandas as pd

df = pd.DataFrame(dicti)

print("Before Delete Column : \n",df)

print("After Delete Column :\n",df.drop(['City'], axis=1))

Before Delete Column :
     Name  Age       City
0   Mnaa   20  Bhavnagar
1   Jiya   17  Porbandar
2  Kinal   18     Rajkot
3   Rmaa   19    Vadodra
After Delete Column :
     Name  Age
0   Mnaa   20
1   Jiya   17
2  Kinal   18
3   Rmaa   19

#  to write a DataFrame to CSV file using tab separator

In [4]:
# 216270307006
# odedra manshvi

import pandas as pd
# import numpy as np

df = pd.DataFrame(dicti)

print("Original DataFrame :\n",df)

df.to_csv('Students.csv', sep ='\t')

new_df = pd.read_csv('Students.csv')

print('\nData from Students.csv :\n',new_df)

Original DataFrame :
     Name  Age       City
0   Mnaa   20  Bhavnagar
1   Jiya   17  Porbandar
2  Kinal   18     Rajkot
3   Rmaa   19    Vadodra

Data from Students.csv :
         \tName\tAge\tCity
0  0\tMnaa\t20\tBhavnagar
1  1\tJiya\t17\tPorbandar
2    2\tKinal\t18\tRajkot
3    3\tRmaa\t19\tVadodra